<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{lang["app_title"]}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/busy_indicator.css')}}">
  </head>
  <body>
    <div id="busybox" class="fog_div">
        <div></div>
    </div>
    <div class="wrapper">

      <header>
        <h1>{{lang["page_title"]}}</h1>
      </header>

      <section id="intro">
        <p>{{lang["intro_line_1"]}}</p>
        <p>{{lang["intro_line_2"]}}</p>
        <p>{{lang["intro_line_3"]}}</p>
      </section>

      <section class="main-controls">
        <canvas class="visualizer" height="60px"></canvas>
      </section>

      <div id="myProgress">
        <div id="myBar"></div>
      </div>

      <button id="startstop">Start</button>

      <section id="ui-msg">
        <p></p>
      </section>

    </div>

    <footer>
      <p>Author: {{admin_name}}</p>
      <p><a href="mailto:{{admin_email}}">{{admin_email}}</a></p>
    </footer>

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/busy_indicator.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
